:root {
  --mainBlue: #000080;
  --mainGrey: #ededed;
  --mainWhite: #fff;
  --mainDark: #222;
  --mainBlack: #000;
}

@font-face {
  font-family: "Zalora";
  src: url("../fonts/ZaloraInlineBold.ttf");
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Zalora", "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.header-title {
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

a.clean-links {
  text-decoration: none;
  color: var(--mainDark);
}

a.clean-links:hover {
  color: var(--mainBlue);
}

#mG61Hd {
  text-align: start;
}

.grey-background {
  background-color: var(--mainGrey);
}

.btn-blue {
  color: var(--mainWhite);
  border-color: var(--mainBlue);
  background: var(--mainBlue);
}

.btn-blue:hover {
  color: var(--mainWhite);
  border-color: var(--mainBlack);
  background: var(--mainBlack);
}

.footer {
  background: var(--mainBlack);
}

/* change the navbar background color */
.navbar-custom,
.thead-dark,
table thead th {
  background-color: var(--mainBlack) !important;
}

table.table-hover tbody tr:hover {
  background-color: var(--mainBlue) !important;
  color: var(--mainWhite) !important;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: var(--mainWhite) !important;
}

.nav-item {
  border-top: 1px soild var(--mainWhite);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.cart-icon:hover {
  color: var(--mainGrey) !important;
}

.cart-icon {
  color: var(--mainWhite);
  font-size: 1.25rem !important;
  cursor: pointer;
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 350px;
  cursor: pointer;
  color: var(--mainwhite);
}

.checkout-wrapper {
  position: fixed;
  top: 15%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: var(--mainBlack);
  border: 2px solid var(--mainWhite);
  border-radius: 7px;
}

.hide {
  display: none;
}

.default-background,
.pages {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: start;
  background: linear-gradient(rgba(0, 0, 128, 0.95), rgba(0, 0, 128, 0.75));
  background-position: center;
  background-size: cover;
}

.pages {
  min-height: 50vh;
}

.swag {
  display: grid;
  grid-template-areas: "overlap";
  transform-style: preserve-3d;
  transition: 1s all ease-in-out;
}

.front {
  background-color: #ffffff;
}

.back {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.front,
.back {
  cursor: pointer;
  grid-area: overlap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backface-visibility: hidden;
}

.flipped {
  transform: rotateY(180deg);
  transition: 1s all ease-in-out;
  cursor: default;
}

/* Media Queries */
@media screen and (max-width: 1400px) {
  .checkout-wrapper {
    top: 18%;
    left: 85%;
  }
}

@media screen and (max-width: 1200px) {
  .checkout-wrapper {
    top: 15%;
    left: 50%;
  }
}

@media screen and (max-width: 815px) {
  .display-4 {
    font-size: 1.75rem;
  }
  .navbar-brand {
    font-size: 0.9rem;
  }
  .navbar-toggler-icon {
    width: 0.9em;
    height: 0.9em;
  }
  .navbar {
    padding: 0.5rem 1.2rem !important;
  }
  .pages {
    min-height: 40vh;
  }
}

@media screen and (max-width: 350px) {
  .display-4 {
    font-size: 1.5rem;
  }
  .navbar-brand {
    font-size: 0.8rem;
  }
  /* .checkout {
    width: 315px;
  } */
}

@media only screen and (max-height: 1025px) {
  .default-background,
  .pages {
    margin-top: 25px;
  }
}

@media only screen and (max-height: 450px) {
  .default-background,
  .pages {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 2800px) {
  .default-background {
    margin-top: 50px;
  }
}
